name: well_being
description: A new Flutter project.


publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


 
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

 
  flutter_lints: ^1.0.0


flutter:

  
  uses-material-design: true

  
  assets:
    - images/health.png
    - images/health1.gif
    - images/loginboy.jpg
    - images/signupgirl.jpg
    - images/apple.jpg
    - images/google.jpg
    - images/fb.jpg
    - images/forgotgirl.jpg
    

